# Xcode
build/
DerivedData/
*.xcodeproj
*.xcworkspace
!default.xcworkspace
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
Payload/

# Swift Package Manager
.build/
Packages/
Package.resolved
.swiftpm/

# macOS
.DS_Store

# Misc
.idea/
.vscode/
.claude/

# Office temp lock files
~$*
